@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Define buttons */
.--button {
  @apply block py-2 lg:py-3 px-5 lg:px-8 rounded-full transition-all duration-300 shadow-md text-sm lg:text-base font-semibold;
}

.--button-small {
  @apply block py-1 lg:py-2 px-3 lg:px-5 rounded-full transition-all duration-300 shadow-md text-sm lg:text-base font-semibold;
}

.button--primary {
  @apply bg-primary text-white hover:bg-white hover:text-primary border-2 border-white hover:border-primary;
}

.button--primary-inverted {
  @apply bg-white text-primary hover:bg-primary hover:text-white border-2 border-primary hover:border-white;
}

.button--dark {
  @apply bg-dark text-primary hover:bg-primary hover:text-dark border-2 border-primary hover:border-dark;
}

.button--dark-inverted {
  @apply bg-primary text-dark hover:bg-dark hover:text-primary border-2 border-dark hover:border-primary;
}

.button--success {
  @apply bg-transparent text-green-700 hover:bg-green-700 hover:text-white border-2 border-green-700 hover:border-transparent;
}

.button--success-inverted {
  @apply bg-green-700 text-white hover:bg-transparent hover:text-green-700 border-2 border-transparent hover:border-green-700;
}

.button--error {
  @apply bg-transparent text-red-700 hover:bg-red-700 hover:text-white border-2 border-red-700 hover:border-transparent;
}

.button--error-inverted {
  @apply bg-red-700 text-white hover:bg-transparent hover:text-red-700 border-2 border-transparent hover:border-red-700;
}

.button--transparent {
  @apply hover:bg-white/50;
}

/* End define buttons */
/* ****************** */

a img {
  @apply border-2 border-transparent transition-all duration-300 hover:scale-105 hover:shadow-md;
}

/* Define headings */
.heading--1 {
  @apply text-4xl lg:text-5xl font-semibold;
}

.heading--2 {
  @apply text-3xl lg:text-4xl font-semibold;
}

.heading--3 {
  @apply text-2xl lg:text-3xl font-normal;
}

.heading--4 {
  @apply text-xl lg:text-2xl font-normal;
}

.heading--5 {
  @apply text-lg lg:text-xl font-normal;
}

.heading--6 {
  @apply text-base lg:text-lg font-normal;
}

.--small-text {
  @apply text-sm lg:text-base font-light;
}

/* End define headings */
/* ******************* */